@model SacramentProject.Models.Speakers

@{
    ViewData["Title"] = "Details";
    var url = Url.ActionContext.RouteData.Values["fid"];
}

<h2>Details</h2>

<div>
    <h4>Speakers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SacramentProgram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SacramentProgram.MeetingDate)
        </dd>
    </dl>
</div>
<div>
    <a href="/Speakers/Edit/@Model.SpeakerProgramId/@url">Edit</a> |
    <a href="/Speakers/Index/@url">Back to List</a>
</div>
